@model DemoAptech.Models.User
@{
    ViewBag.Title = "IndexUserModel";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>IndexUserModel</h2>

<html>
<body>
    <h3>User Details</h3>
    @Model.name <br /> @Model.address<br />  @Model.email<br />
</body>
</html>
