
@{
    ViewBag.Title = "IndexUsers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<body>
    <h3>User Details</h3>
    @{ var user = ViewBag.user;
    }
    @foreach (var p in user)
    {
        @p.name<br/> @p.address<br/> @p.email<br />
        <br />}
</body>
</html>


